/* font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}



/* shared styles */
.flex {
    display: flex;
}

nav,
section {
    max-width: 1060px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.507);
}

.btn {
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
}


.content h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.content p {
    width: 670px;
    margin: 14px auto;
    text-align: center;
}

/* main styles */

body {
    background-color: #1f1d1dde;
    color: white;
    font-family: "Inter", sans-serif;
}

/* nav section  */
nav {
    padding: 30px 0;
    justify-content: space-between;
}

.heading {
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}

.manu {
    gap: 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    border-radius: 39px;
}

.manu p {
    padding: 8px 20px;
}

.home {
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}

.nav-icon {
    display: none;
}

/* banner section  */
#banner {
    margin-top: 96px;
}

.banner-container {
    gap: 167px;
}

.banner-content {
    max-width: 520px;
}

.banner-heading {
    font-size: 78px;
    font-weight: 900;
}

.banner-content .text {
    margin: 28px 0;
}

.btn2 {
    margin-left: 14px;
    background: transparent;
    border: 1px solid white;
}

.banner-img {
    position: relative;
    display: flex;
}

.banner-img img {
    width: 349px;
    height: 580px;
    position: relative;
}

.img-content {
    position: absolute;
    top: 20%;
    right: -8%;
    background-color: #cec4c434;
    border-radius: 12px;
    padding: 15px;
}

.img-content2 {
    position: absolute;
    background-color: #cec4c434;
    border-radius: 12px;
    padding: 15px;
    left: -30%;
    top: 65%;
    display: flex;
    gap: 10px;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    margin-top: 10px;
}

/* habits section */

.habits-img {
    align-items: center;
    gap: 40px;
    margin-top: 50px;

}

.habits-img .rules {
    text-align: center;

}

.rules img {
    border-radius: 50%;
}


/* run section  */
.run-container {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 18px;
    align-items: center;
    gap: 160px;
}


#run .content {
    margin-left: 50px;
}

#run h1 {
    max-width: 440px;
    text-align: start;
}

#run .text {
    width: 440px;
    text-align: start;
}

.run-img {
    margin: 30px 0;
}


/* exercises section  */
#exercises .content h1 {
    text-align: start;
}

#exercises .content p {
    margin: 15px 0 56px;
    text-align: start;
}


.exercises-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);

}

.exercises-img img {
    width: 100%;
    height: 200px;
    mix-blend-mode: multiply;
}

.big-layout {
    grid-column: span 2;
}

.small-layout {
    grid-column: span 1;
}


.card {
    position: relative;
}

.card P {
    font-size: 14px;
    width: 60%;
}

.card-1 {
    background-color: #57ffe0;
}

.card-1 p {
    position: absolute;
    color: black;
    z-index: 50;
    bottom: 20px;
    left: 10px;
}

.card-2 {
    background-color: rgba(255, 89, 89, 0.3);
}

.card-2 p {
    position: absolute;
    color: white;
    z-index: 50;
    top: 20px;
    left: 40px;
}

.card-3 {
    background-color: rgba(59, 58, 58, 0.678);
}

.card-3 p {
    position: absolute;
    color: white;
    z-index: 50;
    bottom: 20px;
    left: 20px;
}

.card-4 {
    background-color: rgba(102, 102, 102, 0.795);
}

.card-4 p {
    position: absolute;
    color: white;
    z-index: 50;
    top: 5px;
    right: 10px;
    width: 25%;
}

.card-5 {
    background-color: rgba(68, 255, 0, 0.712);
}

.card-5 p {
    position: absolute;
    color: white;
    z-index: 50;
    bottom: 15px;
    left: 20px;
}

.card-6 {
    background-color: rgba(0, 72, 255, 0.589);
}

.card-6 p {
    position: absolute;
    color: white;
    z-index: 50;
    bottom: 15px;
    left: 20px;
}

/* team section  */
.team-img {
    background-color: #ffffff1f;
    padding: 20px 10px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    margin-bottom: 88px;
}

.team-img .box img {
    width: 320px;
    height: 272px;
    border-radius: 18px;
    object-fit: cover;
}

.box {
    position: relative;
}

.box p {
    position: absolute;
    top: 245px;
    left: 20px;
    color: rgba(255, 255, 255, 0.432);
}

.box h3 {
    position: absolute;
    top: 220px;
    left: 20px;
}


/* footer section  */
footer {
    background: rgba(255, 255, 255, 0.1);
    padding: 66px 0 35px;
}

footer .content p {
    text-align: start;
    max-width: 440px;
}

.footer-container {
    justify-content: space-between;
}

footer .heading {
    margin-bottom: 40px;
}

.footer-box {
    gap: 130px;
}

footer .contact-heading {
    margin-bottom: 40px;
}

.underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 78px;
    margin-bottom: 36px;
}

.copyright {
    text-align: center;
    color: rgb(202, 202, 202);
}





/* mobile screen  */
@media screen and (max-width: 576px) {

    main>section {
        margin-top: 50px;
    }

    .banner-container,
    .habits-img,
    .run-container,
    .footer-container,
    .footer-box {
        flex-direction: column;
    }

    .text {
        font-size: 14px;
    }

    .content p {
        width: 100%;
    }

    .content h1 {
        font-size: 32px;
    }

    .manu {
        display: none;
    }

    .nav-icon {
        display: block;
        padding: 20px 40px;
    }

    .banner-container {
        gap: 50px;
    }

    .banner-heading {
        max-width: 285px;
        font-size: 36px;
    }

    .banner-container P {
        max-width: 274px;
    }

    .btn2 {
        margin-left: 0px;
    }

    .img-content {
        right: 0%;
    }

    .img-content2 {
        left: 0%;

    }

    #run .text {
        width: 100%;
    }

    .run-img img {
        width: 100%;
    }

    #run .content {
        margin: 20px;
    }

    .run-container {
        gap: 30px;
    }

    #run .btn {
        padding: 16px 40px;
    }


    .exercises-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);

    }
    .exercises-img img {
        width: 100%;
        height: 200px;
        mix-blend-mode: multiply;
    }
    .big-layout {
        grid-column: span 1;
    }
    .small-layout {
        grid-column: span 1;
    }


    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        padding-left: 20px;
    }

    footer .contact-heading {
        margin-bottom: 10px;
    }

    .footer-box {
        gap: 20px;
    }

    .underline {
        margin-top: 40px;
        margin-bottom: 36px;
    }

}







/* tablet-section */
@media screen and (min-width:576px) and (max-width: 992px) {

    .banner-container,
    .footer-container {
        flex-direction: column;
    }

    .content p {
        width: 100%;
    }

    .banner-container {
        gap: 50px;
    }

    .btn2 {
        margin-left: 0px;
    }

    .btn2 {
        margin-left: 0px;
    }

    .img-content {
        right: 0%;
    }

    .img-content2 {
        left: 0%;

    }

    .banner-img {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .img-content {
        right: 10%;
    }

    .img-content2 {
        left: 5%;

    }

    .habits-img {
        flex-wrap: wrap;
        justify-content: center;
    }

    .rules p {
        max-width: 230px;
    }


    #run h1 {
        font-size: 36px;
    }

    #run .text {
        width: 65%;
        text-align: start;
        margin: 10px 0;
    }

    .run-img img {
        width: 100%;
        padding-right: 20px;
    }

    #run .content {
        margin: 40px;
        width: 50%;
    }

    .run-container {
        gap: 10px;
    }

    #run .btn {
        padding: 16px 40px;
    }

    .team-img .box img {
        max-width: 200px;
    }

    .footer-container {
        padding-left: 20px;
    }

    .contact-heading {
        margin-top: 80px;
    }

    footer .content p {
        margin: 0;
    }


}


.hide {
    display: none !important;
}